.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carta {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 280px;
    margin: 0.5rem;
    background-color: white;
}

.titulo {
    text-align: center;
}

.foto, .foto img {
    max-width: 100%;
    max-height: 1000px;
}

.precio {
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin: 1rem;
}

.precio span {
    font-weight: 700;
    font-size: 1em;
    text-align: left;
    margin: 1rem;
}

.boton {
    color: white;
    background-color: #212121;
    padding: 1rem;
    width: 100%;
    border: none;
}

.boton:hover {
    background-color: #07739c;
}