.NavBar {
    width: 100vw;
    background-color: #f4b498;
}

.NavBar nav {
    width: 100vw;
    background-color: #07739c;
}

.NavBar nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    margin: 0 24px;
}

.NavBar nav ul li a {
    color: white;
    text-decoration: none;
}

.NavBar nav ul li a:hover {
    color: #fd8770f5;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}


.head figure {
    width: 250px;
    padding: 1rem;
    margin: 0;
}